<div class="jumbotron">

<h1>All Events!</h1>

<%= link_to "Sort By Interest Category", interests_path %>

<div class="outside">


  <% @events.each do |event|%>
  <ul>
     <li><%= link_to event.name, event%></li>
  </ul>
  <% end %>
</div>
</div>

</div>
